body {
    background-color:rgb(255, 218, 250);
}

.br {
    height: 10ex;
}

h1 {
    color: rgb(255, 127, 212);
    text-align: center;
}

.right {
    text-align: right;
    color: rgb(252, 160, 221);
}
tr {
    text-align: center;
}
th {
    text-align: center;
}
td {
    text-align: center;
}